.btn {
  margin-right: 10px
}
.btn.btn-info a{
  color: #020202;
  text-decoration: none;
}

.btn.btn-info:hover a{
  color: white;
  text-decoration: none;
}

.btn.btn-success a, .btn.btn-success a:hover {
  color: rgb(243, 243, 243);
  text-decoration: none;
}

.content {
  min-height: calc(100vh - 126px);
  padding: 20px 0;
}

.content .col-md-3{
  padding: 0;
}

.navbar {
  background-color: #020022;
  height: 50px;
}

.navbar a {
  color: rgb(239, 245, 240);
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(239, 245, 240);
}

.navbar {
  padding: 1em 1rem;
}

.dropdown-menu a {
  color: #343a40;
}

.dropdown-menu a:hover {
  color: #343a40;
}

.accordion .collapse {
  padding: 8px;
}
.table-responsive thead th {
  cursor: pointer;
}

.table-responsive thead th::after {
  content: "^";
  float: right;
}

.table-responsive td, 
.table-responsive th {
  white-space: nowrap;
  width: 1%;
}

footer {
  padding: 8px 0;
  background-color: #020022;
  color: white;
}

footer h5 {
  display: flex;
  justify-content: center;
}
